.body {
    font-family: 'Montserrat', "Arial", sans-serif;
    color: #FFFFFF;
    background: #FFFFFF;
}

.body--opened-menu {
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1470px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

/* ============================= */

.button {
    padding: 19px 73px 19px 23px;
    max-height: 55px;
    max-width: 274px;
    background-color: #04606b;
    border-radius: 9px;
    transition: all 0.5s linear;
    color: #fff;
}

.button:hover {
    background-color: #3d3d3d;
    border-radius: 9px;
    scale: 1.1;
}

.button:hover svg {
    transform: rotate(450deg);
}

.button::after {
    content: '';
    background: #04606b;
    border-radius: 9px;
    width: 0;
    height: 100%;
    position: absolute;
    inset: 0;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    z-index: -1;
}

.button:hover::after {
    width: 100%;
}

.button::after {
    visibility: visible;
    transform: translateX(0);
}

.button:hover::after {
    transition: all 0.5s linear;
}