.some-text {

    font-family:"Open Sans", "arial", cursive;
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
    
}

.text2 {
    font-style: normal;
    font-weight: 500;
    text-decoration:line-through;
}

.text3 {
text-align: center;
font-weight: 300;
font-size: 20px;
text-transform: uppercase;
}

.text4 {
    word-spacing: 30px;
    text-align: left;
    font-size: 15px;
    font-weight: 500;
    text-transform:none;
    text-decoration:overline wavy;
    color: #6f4298;
    text-shadow: 1px 0px #3c3a3a;

}

.text5 {
    text-align: left;
    font-size: 17px;
    font-weight: 500;
    text-transform:none;
    letter-spacing: 5px;
    text-decoration:double underline;
}