.footer {
    padding-top: 55px;
}

.footer__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
}

.footer__contacts span {
    border: 3px solid var(--color-button);
    max-width: 690px;
    margin-bottom: 17px;
}

.footer__title {
    color: var(--general-text);
    font-size: 36px;
    font-weight: 700;
    line-height: 140.4%;
    text-align: start;

    padding-bottom: 65px;
}

.footer__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 660px;
    max-height: 288px;

    padding-bottom: 65px;
}

.footer__content {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-bottom: 15px;
}

.footer__content img {
    width: 45px;
    height: 45px;
}

.footer__content:nth-child(3) {
    padding-bottom: 0;
}

.footer__content:nth-child(4) {
    padding-bottom: 0;
}

.footer__content-text {
    color: var(--general-text);
    font-size: 18px;
    font-weight: 400;
    line-height: 124.19%;
}

.footer__content:last-child p {
    max-width: 208px;
    padding-top: 37px;
}

.footer__social {}

.footer__social-subtitle {
    color: var(--general-text);
    font-size: var(--general-font-size);
    font-weight: 600;
    line-height: 151.19%;

    padding-bottom: 15px;
}

.footer__social-inner {
    display: flex;
    gap: 20px;
    padding-bottom: 10px;
}

.footer__social-img {}

.footer__maps {
    padding-bottom: 74px;
    padding-left: 10px;
}
.footer__maps img {
    width: 100%;
    object-fit: cover;
}

.footer__anchors {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-bottom: 22px;
}

.footer__anchors img {
    padding-left: 115px;
}

.footer__anchors span {
    border: 1px solid var(--general-text);
    position: absolute;
    width: 1440px;
}

.footer__anchors span:first-child {
    bottom: 106px;
}

.footer__anchors span:last-child {
    bottom: 18px;
}

.footer__anchors-content {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 70px;
}

.footer__anchors-text {
    color: var(--general-text);
    font-size: 14px;
    font-weight: 600;
    line-height: var(--line-hight);
    text-transform: uppercase;
}

.footer__copyright {
    color: #787878;
    font-size: 16px;
    font-weight: 400;
    line-height: 126.69%;
    text-align: center;
    padding-bottom: var(--general-font-size);
}





@media (max-width: 1300px) {

    .footer__anchors img {
        padding-left: 0;
    }

    .footer__info {
        grid-template-columns: 1fr;
        align-self: center;
    }

    .footer__title {
        text-align: center;
    }

    .footer__content:last-child p {
        padding-top: 16px;
    }

    .footer__maps {
        display: flex;
        object-fit: cover;
    }

}


@media (max-width: 1100px) {

    .footer__anchors-content {
        gap: 20px;
    }

}


@media (max-width: 900px) {

    .footer__social {
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    .footer__inner {
        display: flex;
        flex-direction: column;
    }

    .footer__contacts span {
        max-width: 870px;
    }

    .footer__title {
        font-size: 30px;
        padding-bottom: 40px;
    }

    .footer__anchors-content {
        gap: 15px;
    }

    .footer__anchors-text {
        font-size: 13px;
    }

    .footer__copyright {
        font-size: 14px;
    }

}

@media (max-width: 750px) {

    .footer__anchors {
        display: flex;
    }

    .footer__title {
        font-size: 27px;
    }

    .footer__content-text {
        font-size: 17px;
    }

    .footer__social-subtitle {
        font-size: 21px;
    }


    .footer__anchors-content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    .footer__anchors span:first-child {
        bottom: 115px;
    }

    .big-1 {
        grid-column: 2;
        grid-row: 2;
    }

    .big-2 {
        grid-column: 3;
        grid-row: 2;
    }
    .big-3 {
        grid-column: 4;
        grid-row: 2;
    }

    .big-4 {
        grid-column: 2;
        grid-row: 3;
    }
    .big-5 {
        grid-column: 3;
        grid-row: 3;
    }
    .big-6 {
        grid-column: 4;
        grid-row: 3;
    }

}

@media (max-width: 450px) {

.footer__maps {
    padding-bottom: 115px;
}

.footer__anchors img {
    position: absolute;
    bottom: 120px;
}

.footer__anchors-content {
    grid-template-columns: 1fr;
    gap: 7px;
}

.footer__anchors-text {
    font-size: 12px;
}

}


@media (max-width: 750px), (max-height: 720px) {
    .footer__anchors img {
        padding-left: 0;
        padding-top: 10px;
    }
}