.main__super-offer {}

.super-offer__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 130px;
    padding-bottom: 80px;
}

.super-offer__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 130%;
    color: #373737;
    padding-top: 65px;
    padding-bottom: 45px;
    text-align: center;
}

.super-offer__content {
    display: flex;
    max-width: 650px;
    max-height: 311px;
}

.super-offer__discount {
    display: flex;
    flex-direction: column;
    border-radius: 0 10px 10px 0;
    padding-left: 30px;
    background: url(../img/body/super-offer/super-offer__discount-bg.png);
}

.super-offer__subtitle {
    font-size: 36px;
    font-weight: 800;
    color: var(--color-button);
    padding-top: 40px;
    padding-bottom: 10px;
}

.super-offer__subtitle-text {
    font-size: var(--general-font-size);
    font-weight: 700;
    color: var(--color-button);
    padding-bottom: 20px;
}


.super-offer__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 130%;
    color: #373737;
    padding-bottom: 15px;
}

.super-offer__button {
    font-size: 14px;
    font-weight: 600;
    line-height: 130%;
    padding: 11px 45px 25px 45px;
    max-width: 175px;
    max-height: 45px;

    color: var(--color-button);
    background: #F4F4F4;
    border: 2px solid;
}

.super-offer__button:hover {
    background-color: var(--general-bg-2);
    color: #fff;
    border: 2px solid;
}






@media (max-width: 1460px) {
    .super-offer__inner {
        gap: 20px;
    }


    .super-offer__subtitle {
        padding-top: 10px;
    }

    .super-offer__discount {
        padding-left: 10px;
    }
}


@media (max-width: 1350px) {
    
    .super-offer__discount {
        background: #F4F4F4;
        padding-left: 5px;
        padding-right: 5px;
    }

.super-offer__text {
    text-align: center;
}

.super-offer__discount {
    display: flex;
    align-items: center;
    justify-content: center;
}

.super-offer__subtitle {
    font-size: var(--general-font-size);
}

.super-offer__subtitle-text {
    font-size: 16px;
}

.super-offer__text {
    font-size: 16px;
    line-height: 100%;
}

.super-offer__title {
    font-size: 30px;
}
}


@media (max-width: 1010px) {
    .super-offer__inner {
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    .super-offer__content {
        display: flex;
        max-width: none;
        max-height: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .super-offer__discount {
        width: 305px;
        padding-bottom: 15px;
        border-radius: 0 0 10px 10px;
    }

    .super-offer__title {
        font-size: 26px;
    }
}