.team__bg {
    position: relative;
}

.team__bg-right {
    position: absolute;
    z-index: -1;
    right: -18px;
    top: -283px;
}

.team__bg-left {
    position: absolute;
    bottom: -592px;
    z-index: -1;
    left: -105px;
}



.team__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 130%;
    color: var(--general-text);
    padding-top: 65px;
    padding-bottom: 35px;
    text-align: center;
}

.team__people {
    display: flex;
    gap: 60px;
    justify-content: center;
    padding-bottom: 65px;
    border-radius: 10px;
}

.team__photo {
    background: #F4F4F4;
    border-radius: 10px;
    max-width: 315px;
}

.team__photo img {
    height: 300px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    object-fit: none;
    max-width: 315px;
    padding: 5px;
}

.team__photo-name {
    font-size: var(--general-font-size);
    font-weight: 700;
    line-height: 130%;
    color: var(--color-button);

    padding-left: 25px;
    padding-top: 18px;
}

.team__photo-position {
    font-size: 18px;
    font-weight: 400;
    line-height: 130%;
    color: var(--general-text);

    padding-bottom: 22px;
    padding-left: 25px;
}



@media(max-width: 1500px) {
    .team__people {
        gap: 30px;
    }
}


@media(max-width: 1400px) {
    .team__people {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-left: 15%;
    }

}

@media(max-width: 1000px) {

    .team__people {
        padding-left: 10%;
    }
    
}

@media(max-width: 850px) {
    .team__people {
        padding-left: 20px;
    }
}

@media(max-width: 700px) {
    .team__people {
        padding-left: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}