


.main__services {
    background: url(../img/body/services/services-background.png);
    padding-top: 50px;
}

.services__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 130%;
    color: var(--general-text);    
    padding-bottom: 45px;
    text-align: center;
}
.services__inner {
    display: grid;
    grid-template-columns: 1.2fr 1.2fr 1fr;
    gap: 30px;
    padding-bottom: 82px;
}

.services__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    color: var(--general-text);
    max-width: 415px;
    height: 115px;
    border-radius: 10px;
    background: var(--general-bg);
    display: flex;
    gap: 20px;
    padding-right: 28px;
    padding-top: 10px;
}

.services__text-img {
    width: 42px;
    height: 42px;
    padding-left: 5px;
}









@media (max-width: 1050px) {
    .services__text {
        padding-right: 5px;
    }
    
    .services__inner {
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }
}


@media (max-width: 660px) {
    .services__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .services__title {
        font-size: var(--general-font-size);
    }
}