.main__routes {
    color: var(--general-text);
    padding-top: 57px;
    background: url(../img/body/routes-bg.png);
}



.routes-our {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 130%;
    padding-bottom: 62px;
}

.routes__info {
    display: flex;
}


.routes__wrapper {
    z-index: 2;
}

.routes__wrapper-01 {
    background: url(../img/body/routes__wrapper-bg1.png);
}

.routes__wrapper-02 {
    background: url(../img/body/routes__wrapper-bg2.png);
}

.routes__wrapper-03 {
    background: url(../img/body/routes__wrapper-bg3.png)
}



.routes__price-wrapper {
    padding-left: 123px;
    max-width: 687px;
}

.routes__category-info {
    display: flex;
    gap: 20px;
    padding-bottom: 10px;

}

.routes__category-info p {
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;

}


.routes__line {
    display: flex;
    align-items: center;
}

.routes__price-start {
    display: flex;
    gap: 40px;
    padding-bottom: 10px;
}

.routes__price-rub {
    display: flex;
    padding-bottom: 32px;
}


.routes__price-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 109%;
    text-transform: uppercase;
}

.routes__price-heading {
    font-weight: 700;
    font-size: var(--general-font-size);
    line-height: 109%;
}

.routes__category {
    padding-bottom: 17px;
}


.routes__indicators-direction {
    display: flex;
    gap: 15px;
    padding-bottom: 13px;

    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    text-transform: uppercase;
}


.routes__indicators-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    padding-bottom: 40px;
}

.routes__indicators-text-mobile {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    padding-bottom: 40px;
    display: none;
}

.routes__button {
    padding-bottom: 150px;
    display: flex;
    gap: 15px;
}

.routes__button-more {
    padding: 14px 45px;
    background: #F4F4F4;
    color: var(--color-button);
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
    border: 2px solid;
}

.routes__button-more:hover {
    background-color: var(--general-bg-2);
    color: #fff;
}

.routes__button-bramble {
    padding: 14px 45px;
    background: var(--color-button);
    color: #F4F4F4;
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
    border: 2px solid var(--color-button);
}

.routes__button-bramble:hover {
    background-color: #F4F4F4;
    color: var(--color-button);
}


.routes__button-bramble::after {
    content: '';
    background: #fbfbfb;
}


.routes__pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 90%;
    bottom: -50px;
    left: auto;
    transform: rotate(-90deg);
}

.routes__pagination .swiper-pagination-bullet {
    background: #000000;
    opacity: 1;
}

.routes__pagination .swiper-pagination-bullet-active {
    background: #04606b;
}




/* ================================================= */


.routes__swiper {
    height: 100%;
    max-width: 360px;
    margin-left: 200px;
    overflow: visible;
}


.routes__swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
}

.routes__slide-img img {
    display: block;
    width: 360px;
    height: 360px;
    object-fit: cover;
    border-radius: 10px;
}



.swiper-slide.routes__swiper-slide.swiper-slide-next {
    max-width: 300px;
}

.swiper-slide.routes__swiper-slide.last {
    max-width: 250px;
}

.swiper-slide.routes__swiper-slide.last.swiper-slide-active {
    margin-left: 30px;
}

.routes__swiper-slide.two.swiper-slide.routes__swiper-slide.swiper-slide-active {
    margin-right: 30px;
}

.swiper-slide.routes__swiper-slide img {
    max-width: 250px;
    max-height: 300px;
    margin-top: 30px;
}

.swiper-slide.routes__swiper-slide.swiper-slide-active img {
    max-width: 360px;
    max-height: 360px;
    margin-top: 0px;
}



/* ================================= */
.routes__see-more {
    pointer-events: all;
    padding-right: 15px;
}

.routes__see-more-line {
    position: absolute;
    padding-left: 60px;
    display: block;
    transform-origin: right bottom;
    top: 107.6%;
    right: 180px;
}

.routes__see-more-line::before {
    content: "";
    position: absolute;
    left: 0;
    top: calc(50% - .5px);

    background-color: var(--general-text);
    width: 38px;
    height: 1.5px;
}

/* ============================ */



.routes__wrapper-03 {
    max-width: 669px;
}


.routes__next-swiper {
    height: 100%;
    max-width: 360px;
    margin-left: 375px;
    overflow: visible;
}

.routes__swiper-slide-02 {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.swiper-slide.routes__swiper-slide-02.swiper-slide-prev {
    max-width: 300px;
}

.swiper-slide.routes__swiper-slide-02.midday.swiper-slide-next {
    margin-left: 30px;
}

.swiper-slide.routes__swiper-slide-02.first {
    max-width: 250px;
}

.swiper-slide.routes__swiper-slide-02.first.swiper-slide-active {
    margin-right: 30px;
}

.routes__swiper-slide-02.midday.swiper-slide.swiper-slide-active {
    margin-left: 30px;
}

.swiper-slide.routes__swiper-slide-02 img {
    max-width: 250px;
    max-height: 300px;
    margin-top: 30px;
}

.swiper-slide.routes__swiper-slide-02.swiper-slide-active img {
    max-width: 360px;
    max-height: 360px;
    margin-top: 0px;
}

/* ====================================== */


.route__modal {
    position: fixed;
    top: 59%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 13;
    background: #ffff;
    display: none;
    max-height: 100vh;
    overflow: scroll;
    border-radius: 10px;
}
.route__modal::-webkit-scrollbar {
    width: 0;

}

.route__modal.route__modal-open,
.route__modal-overlay.route__modal-open {
    display: block;
}

.route__modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #121214CC;
    z-index: 12;
    display: none;
}


.route__modal-cancel {
    right: 1%;
    position: absolute;
    top: 1%;
    cursor: pointer;
    z-index: 13;
}


.route__modal-container {
    width: 1330px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
    overflow: hidden;
    color: var(--general-text);
}


.route__modal-wrapper {
    background: var(--general-bg);
}

.route__modal-info {
    display: flex;
    padding-top: 47px;
}

.routes__modal-button {
    padding-bottom: 70px;
}

.routes__modal-price-start {
    display: flex;
    gap: 40px;
    padding-bottom: 31px;
}

.routes__modal-price-wrapper {
    padding-left: 123px;
    max-width: 680px;
}

.routes__modal-price {
    max-width: 620px;
}


.routes__modal-category {
    padding-bottom: 32px;
}

.routes__modal-indicators-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    padding-bottom: 40px;
}


.routes__modal-swiper {
    margin-left: 0px;
    max-width: 347px;
}

.swiper-slide.routes__modal-swiper-slide.routes__swiper-slide.swiper-slide-active img {
    max-width: 314px;
    max-height: 314px;
    margin-top: 0px;
}

.swiper-slide.routes__swiper-slide.routes__modal-swiper-slide img {
    max-width: 220px;
    max-height: 260px;
    margin-top: 23px;
}

.swiper-slide.routes__swiper-slide.routes__modal-swiper-slide.swiper-slide-next {
    max-width: 222px;
}

.routes__swiper.routes__modal-swiper-slide {
    max-width: 347px;
}

.routes__modal-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
    right: 87%;
}

.routes__modal-see-more-line {
    right: 160px;
    top: 108.6%;
}

/* ======================== */

.routes__modal-body {
    padding-left: 121px;
    max-width: 1187px;
    max-height: 250px;
}

.routes__modal-body-title {
    font-size: var(--general-font-size);
    font-weight: 600;
    line-height: 29px;

    padding-bottom: 27px;
}

.routes__modal-body-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
}

.routes__modal-body-text-bottom {
    padding-top: 40px;
}


/* ================================== */

.routes__modal-value {
    padding-left: 121px;
    padding-top: 70px;
}

.routes__modal-value-title {
    color: var(--general-text);
    font-size: var(--general-font-size);
    font-weight: 600;
    line-height: 29px;

    padding-bottom: 45px;
}

.routes__modal-value-info {
    display: grid;
    grid-template-columns: 295px 323px 295px;
    gap: 25px;
}

.routes__modal-value-body {
    background: #F4F4F4;
}

.routes__modal-value-inner {
    max-width: 305px;
    max-height: 295px;
    position: relative;
    margin-bottom: 5px;
    justify-self: center;
}

.routes__modal-value-svg {
    position: absolute;
    left: 3%;
    top: 2%;
    background: repeat;
}

.routes__modal-value-img {
    width: 302px;
    height: 225px;
    object-fit: cover;
    background-size: cover;
    border-radius: 10px 10px 0 0;
}

.routes__modal-value-text {
    background: #F4F4F4;
    padding-top: 17px;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.routes__modal-value-name {
    padding-bottom: 5px;
    font-size: 14px;
    font-weight: 400;
    line-height: 130%;
}

.routes__modal-value-quantity {
    color: var(--color-button);
    font-size: 20px;
    font-weight: 700;
    line-height: 130%;
    display: flex;
    gap: 7px;
    align-items: baseline;
}

.routes__modal-value-rub {
    padding-bottom: 10px;
}

/* ============================== */

.routes__modal-footer {
    padding-left: 121px;
    background: url(../img/body/route__modal/footer-bg.png) 50% 50% no-repeat;
    padding-top: 130px;
}

.routes__modal-footer-title {
    font-size: var(--general-font-size);
    font-weight: 600;
    line-height: 29px;

    padding-bottom: 32px;
}

.routes__modal-footer-inner {
    padding-bottom: 32px;
    display: grid;
    grid-template-columns: 350px 350px;
    gap: 20px;
}


.modal-footer-date-input::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url(../img/body/route__modal/arrow-bottom.svg) no-repeat;
    border-width: thin;
    padding-top: 0%;
    padding-right: 17px;
}



.routes__modal-number {
    position: relative;
    width: 350px;
    height: 46px;
    margin: 0 auto;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    border: 0.5px solid;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #787878;
    background: #ffff;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


.routes__modal-number-input {
    border: 0.5px solid var(--color-button);
    width: 78px;
    height: 30px;
    padding: 0 5px;
    text-align: -webkit-center;
    align-self: center;
    border-radius: 5px;
    color: var(--general-text);
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
}

.prev,
.next {
    border: 0.5px solid var(--color-button);
    width: 30px;
    height: 30px;
    border-radius: 5px;
    z-index: 11;
    cursor: pointer;
    color: var(--general-text);
    font-size: var(--general-font-size);
    font-weight: 500;
    line-height: 29px;
    background: var(--general-bg);
}

.prev {
    margin-left: 11px;
}

.next {
    margin-right: 11px;
}




.routes__modal-footer-label {
    position: relative;
}

.modal-footer-svg {
    position: absolute;
    left: 3%;
    top: 2%;
}


.routes__modal-footer-text {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;

    padding-bottom: 10px;
}


.routes__modal-footer-input {
    border: 0.5px solid #787878;
    border-radius: 8px;
    width: 350px;
    height: 46px;
    padding-left: 40px;
    color: var(--general-text);
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
}


.routes__modal-footer-button {
    padding: 14px 30px;
    margin-bottom: 161px;
}

/* =========================== */

.bike__modal-info {
    width: 310px;
    height: 295px;
    color: var(--general-text);
    background: url(../img/body/bike__modal-bg.png) 50% 50% no-repeat;
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;

    opacity: 0;
    visibility: hidden;
    transition: all 0.4s;
    left: -4px;
}

.bike__modal-info.bike--opened-modal {
    opacity: 1;
    visibility: visible;
}

.bike__modal-close {
    position: absolute;
    left: 5.7%;
    top: 4%;
    cursor: pointer;
    max-width: 20px;
    max-height: 20px;
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.bike__modal-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 165%;
}

.bike__modal-text span {
    font-size: 18px;
    font-weight: 600;
    line-height: 165%;
}



/* ========================================================= */

@media (max-width: 1500px) {

    .route__modal-container {
        width: 100%;
    }
}



@media (max-width: 1350px) {

    .routes__swiper {
        margin-left: 10px;
    }

    .routes__line {
        display: none;
    }

    .routes__price-wrapper {
        padding-left: 10px;
    }

    .routes__wrapper {
        max-width: 500px;
    }

    .routes__modal-swiper {
        margin-left: 200px;
    }

    .route__modal-wrapper {
        padding-left: 121px;
    }

    .routes__indicators-text {
        display: none;
    }

    .routes__indicators-text-mobile {
        display: block;
    }

}

@media (max-width: 1150px) {

    .main__routes {
        padding-bottom: 100px;
    }

    .routes__wrapper {
        max-width: 560px;
        max-height: 404px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .routes__info {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        display: flex;
        align-items: center;
    }


    .routes__price-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .routes__indicators-direction {
        justify-content: center;
    }

    .routes__button {
        padding-bottom: 50px;
        justify-content: center;
    }

    .routes__info-02 {
        padding-top: 5%;
        display: flex;
        flex-direction: column-reverse;
    }

    .routes__info:last-child {
        margin-top: 40px;
    }

    .routes__swiper-03 {
        margin-left: auto;
    }

    .routes__next-swiper {
        margin-left: auto;
    }

    .routes__swiper {
        margin-left: auto;
    }

    .routes__wrapper-03 {
        padding-top: 40px;
    }



    .swiper-slide.routes__swiper-slide.swiper-slide-next {
        max-width: 360px;
    }

    .swiper-slide.routes__swiper-slide.last {
        max-width: 360px;
    }

    .swiper-slide.routes__swiper-slide.last.swiper-slide-active {
        margin-left: 1px;
    }

    .routes__swiper-slide.two.swiper-slide.routes__swiper-slide.swiper-slide-active {
        margin-right: 1px;
    }





    .swiper-slide.routes__swiper-slide-02.swiper-slide-prev {
        max-width: 360px;
    }

    .swiper-slide.routes__swiper-slide-02.midday.swiper-slide-next {
        margin-left: 1px;
    }

    .swiper-slide.routes__swiper-slide-02.first {
        max-width: 360px;
    }

    .swiper-slide.routes__swiper-slide-02.first.swiper-slide-active {
        margin-right: 1px;
    }

    .routes__swiper-slide-02.midday.swiper-slide.swiper-slide-active {
        margin-left: 1px;
    }


    .routes__wrapper-01,
    .routes__wrapper-02,
    .routes__wrapper-03 {
        background: none;
    }


    .route__modal-content {
        margin-bottom: 10%;
    }

    .routes__modal-swiper {
        max-width: 290px;
    }

    .swiper-slide.routes__swiper-slide.routes__modal-swiper-slide.swiper-slide-prev {
        max-width: none;
    }

    .swiper-slide.routes__swiper-slide.routes__modal-swiper-slide.swiper-slide-next {
        max-width: none;
    }

    .routes__modal-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
        right: 94%;
    }

    .routes__modal-see-more-line {
        right: 45%;
    }

    .route__modal-wrapper {
        padding-left: 0;
    }

    .routes__modal-body,
    .routes__modal-value,
    .routes__modal-footer {
        padding-left: 1%;
    }

}

@media (max-width: 1010px) {
    .routes__modal-value-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }

    .routes__modal-value-title {
        text-align: center;
    }

    .routes__modal-value {
        padding-top: 18%;
    }
}


@media (max-width: 850px) {

    .routes__modal-body {
        padding-left: 1%;
        margin-bottom: 12%;
    }

    .routes__modal-footer-input {
        width: 270px;
        height: 40px;
    }

    .routes__modal-number {
        width: 270px;
        height: 40px;
        margin: 0;
    }


    .routes__modal-footer-content {
        max-width: 270px;
    }

    .routes__modal-footer-inner {
        grid-template-columns: 270px 270px;
    }

}




@media (max-width: 702px) {

    .routes__pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
        right: auto;
    }


    .routes__wrapper {
        margin-top: 40px;
    }

    .routes__swiper {
        max-width: 270px;
    }

    .swiper-slide.routes__swiper-slide.swiper-slide-active img {
        max-width: 260px;
        max-height: 300px;
    }

    .swiper-slide.routes__swiper-slide-02.swiper-slide-active img {
        max-width: 260px;
        max-height: 300px;
    }

    .routes__pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
        right: 85%;
    }

    .routes__next-swiper {
        max-width: 270px;
    }

    .routes__see-more-line {
        right: 54px;
        top: 108%;
    }

    .routes-our {
        padding-bottom: 0;
    }

    .routes__button-more {
        padding: 10px 20px;
    }

    .routes__button-bramble {
        padding: 10px 20px;
    }

    .swiper-slide.routes__modal-swiper-slide.routes__swiper-slide.swiper-slide-active img {
        max-width: 250px;
        max-height: 250px;
        margin-top: 0px;
    }

    .swiper-slide.routes__swiper-slide.routes__modal-swiper-slide img {
        max-width: 180px;
        max-height: 200px;
        margin-top: 23px;
    }

    .routes__modal-swiper {
        max-width: 230px;
    }

    .routes__modal-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
        right: 108%;
        top: 105.5%;
    }

    .routes__modal-body {
        padding-left: 1%;
        margin-bottom: 20%;
    }

    .routes__modal-value-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .routes__modal-value {
        padding-top: 15%;
    }

}

@media (max-width: 600px) {

    .route__modal {
        width: 90%;
    }

    .routes__modal-footer-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
        gap: 10px;
    }

    .routes__modal-footer {
        padding-top: 30px;
        background: url(../img/body/route__modal/footer-bg.png) 50% 10% no-repeat;
    }

    .routes__modal-footer-title {
        text-align: center;
        font-size: 22px;
    }

    .routes__modal-value {
        padding-top: 25%;
    }

    .routes__modal-body-text {
        font-size: 2.7vw;

}

}


@media (max-width: 500px) {

    .routes-our {
        font-size: 30px;
    }

    .routes__price-title {
        font-size: 30px;
    }

    .routes__price-heading {
        font-size: 20px;
    }

    /* ====================== */

    .routes__modal-swiper {
        margin-bottom: 11%;
    }

    .routes__modal-button {
        padding-bottom: 40%;
    }

    .routes__modal-see-more-line {
        right: 31%;
    }

    .routes__modal-body-text {
        font-size: 2.7vw;
    }

}


@media (max-width: 350px) {

    .routes__modal-body-text {
        font-size: 3.2vw;
    }

    .routes__modal-body {
        margin-bottom: 43%;
    }

    .routes__modal-value-title {
        font-size: 22px;
    }

    .route__modal-container {
        padding: 0 7px;
    }

    .routes__modal-value-img {
        width: 280px;
    }
}

@media (max-height: 800px) and (min-width: 700px) {
    .routes__pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
        right: 102%;
    }

}